<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="chocolateygui" />
    <package id="googlechrome" />
    <package id="f.lux" />
    <package id="7zip" />
    <package id="atom" />
    <package id="keypirinha" />
    <package id="sumatrapdf.install" />

    <package id="github-desktop" />
    <package id="cmder" />
    <package id="winmerge-jp" />
    <package id="greenshot" />
</packages>
